body {
  background-image: url(/images/bckg/BG.png);
  background-size: 100%;
  font-family: 'Lato', sans-serif;
  }

.tabcontent {
  display: none;
}

/*header*/
.top-header{
  background-color: #2B3040;
  display: flex;
  justify-content: space-around;
  padding: 4%;
  color: #B7BACD;
  margin-left: 17%;
  margin-right: 17%;
  margin-top: 7%;
}
.top-header-blok{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 78px;
  justify-content: space-around;
}

/*body*/
.top-footer{
    background-color: #212534;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    margin-left: 17%;
    margin-right: 17%;
}
.top-footer-left{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-footer-right{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-footer-right-head{
    display: flex;
    justify-content: space-between;
}
.top-footer-right-low{
    display: flex;
    justify-content: space-between;
}
/*footer-txt-mod*/
.top-footer-right-head-txt{
    font-size: 32px;
}
.top-footer-right-head-p{
    padding-top: 4%;
    font-size: 14px;
}
.top-footer-right-medium{
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
}
.top-footer-right-low-txt{
    color: #FEDC3F;
    font-size: 12px;
    font-weight: 700;
}
.top-footer-right-low-txt-p{
    color: white;
    font-size: 32px;
    padding-top: 2%;
}
.top-footer-right-low-btn{
    color: white;
    font-weight: 700;
    font-size: 16px;
    padding: 10%;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #13E28D;
    border: none;
}

/*blok 2*/
.bloktwo-top-footer{
    background-color: #212534;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    margin-left: 17%;
    margin-right: 17%;
}

/*blok 3*/
.blokthree-top-footer{
    background-color: #212534;
    display: flex;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
    margin-left: 17%;
    margin-right: 17%;
}

/*button*/
button {
  outline: none; 
  border: 0;
  background: transparent;
  color: white;
  font-size: 16px;
}
